# Ambiente virtuale
.venv/
ailab-venv/

# Bytecode Python
__pycache__/
*.py[cod]
*$py.class

# File log e temporanei
*.log
*.tmp
*.bak



# VS Code
.vscode/

# File di sistema
.DS_Store
Thumbs.db

# Ignora solo questo file JSON
data/squad_train.json

requirements.txt

*.pt
*.plk


/saved/client_secrets.json
/saved/mycreds.json